/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 40 version
*/

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff"), 
  url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; 
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), 
  url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; 
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), 
  url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; 
}


html{font-family: "Gotham Pro", sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:0.30em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration: none}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:'Open Sans',sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* {
  font-family: "Gotham Pro", sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #1C1C1C;
}
.content {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 140px;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background: #1C1C1C;
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
}
.header__wrapper {
  height: 140px;
}
.header-contacts {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.phone {
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
  color: #A3DE00;
  display: inline-block;
  margin-right: 35px;
}
.phone:hover {
  color: #ffffff;
}
.socials {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 35px;
}
.socials__link {
  display: block;
  width: 55px;
  height: 45px;
  margin: 0 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.socials__link--instagram {
  background-image: url(../images/instagram.png);
}
.socials__link--whatsapp {
  background-image: url(../images/whatsapp.png);
}
.socials__link--instagram:hover {
  background-image: url(../images/instagram-green.png);
}
.socials__link--whatsapp:hover {
  background-image: url(../images/whatsapp-green.png);
}

.butter {
  width: 45px;
  height: 45px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: #0000FB;
  cursor: pointer;
  position: relative;
}
.butter i,
.butter::before,
.butter:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 7px;
  background: #ffffff;
  left: 10px;
}
.butter:hover {
  background: #ffffff;
}
.butter:hover i,
.butter:hover::before,
.butter:hover:after {
  background: #0000FB;
}
.butter i {
  top: 9px;
}
.butter::before {
  top: 19px;
}
.butter:after {
  top: 29px;
}
.menu {
  position: relative;
}
.menu__list {
  position: absolute;
  z-index: 10;
  right: 0;
  top: -webkit-calc(100% + 25px);
  top: calc(100% + 25px);
  width: 211px;
  background: #303030;
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
  padding: 35px 13px 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.menu__list.active {
  opacity: 1;
  visibility: visible;
}
.menu__list_container {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  display: block;
  border-bottom: 2px solid #FFFFFF;
  text-align: center;
  padding: 9px 0;
}
.menu__item:last-child {
  border: none;
}
.menu__item a {
  cursor: pointer;
  font-weight: normal;
  font-size: 19px;
  line-height: 105.7%;
  color: #A3DE00;
}
.menu__item a:hover {
  color: #ffffff;
}
.menu-close {
  position: absolute;
  background: #0000FB;
  width: 22px;
  height: 22px;
  top: 9px;
  right: 9px;
  cursor: pointer;
}
.menu-close::before {
  width: 18px;
  height: 2px;
  top: 10px;
  left: 2px;
  content: '';
  position: absolute;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}
.menu-close::after {
  width: 2px;
  height: 18px;
  top: 2px;
  left: 10px;
  content: '';
  position: absolute;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}
.banner {
  position: relative;
}
.banner-img {
  display: block;
  width: 100%;
  height: auto;
}
.banner-img-mobile {
  display: none;
}
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__wrapper {
  width: 100%;
}
.banner-title {
  display: block;
}
.banner__btn {
  display: block;
  width: 100%;
  max-width: 445px;
  background: #A3DE00;
  border: 2px solid #a3de00;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 103.19%;
  text-align: center;
  color: #0000FB;
  cursor: pointer;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.banner__btn:hover {
  background: transparent;
  border-color: #a3de00;
  color: #a3de00;
}
.banner-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  display: block;
  letter-spacing: 1.21em;
  color: #FFFFFF;
  margin: 55px 0 125px;
}
.banner-subtitle::before,
.banner-subtitle::after {
  position: relative;
  top: -6px;
  display: inline-block;
  content: '';
  width: 96px;
  height: 1px;
  background: #ffffff;
  margin-right: 20px;
}
.banner-subtitle::after {
  margin-right: 0;
  margin-left: 20px;
}
.fast {
  padding: 30px 0 0px;
}
.fast__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fast__content {
  padding-top: 70px;
}
.border-title {
  color: #1C1C1C;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.fast-title {
  font-weight: 500;
  font-size: 77px;
  line-height: 1;
  margin: 0 0 40px;
}
.fast-content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.fast-content-img {
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 95px;
}
.fast-content-text {
  max-width: 450px;
  text-align: justify;
}
.fast-content-text strong {
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.3;
  color: #A3DE00;
  text-indent: 60px;
  margin-bottom: 20px;
}
.fast-content-text p {
  text-indent: 40px;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  color: #FFFFFF;
  margin: 0 0 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #A3DE00;
}
.trener {
  padding: 100px 0;
}
.trener-plash {
  background: #303030;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.91);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.91);
  position: relative;
  padding-left: 470px;
}
.trener-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 450px;
  height: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 20px;
}
.trener-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.trener-content {
  width: 100%;
  padding: 40px 120px 15px 0;
}
.trener-border {
  position: absolute;
  top: 25px;
  right: 100px;
  font-weight: 500;
  font-size: 77px;
  line-height: 1;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  color: #303030;
}
.trener-top {
  margin-left: 30px;
  padding: 10px 0 10px 15px;
  border-left: 7px solid #0000FB;
  margin-bottom: 85px;
}
.trener-top-mobile {
  display: none;
}
.trener-name {
  display: block;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  color: #A3DE00;
  margin-bottom: 5px;
}
.trener-sub {
  display: block;
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  color: #FFFFFF;
}
.trener-cub__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.trener-cub__item_img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-right: 15px;
}
.trener-cub__item_img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.trener-cub__item span {
  font-weight: normal;
  font-size: 23px;
  line-height: 1;
  color: #FFFFFF;
}
.direction {
  padding: 65px 0;
  overflow: hidden;
}
.direction-title {
  margin-bottom: 65px;
}
.direction-plash {
  background: #0000FB;
  -webkit-box-shadow: 0px 4px 50px #000000;
          box-shadow: 0px 4px 50px #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.direction-img {
  width: 795px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: -webkit-calc(100% - 355px);
  width: calc(100% - 355px);
}
.direction-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.direction-content {
  padding: 75px 45px 40px;
}
.direction-content-title {
  margin: 0 0 25px;
  position: relative;
  left: -110px;
  font-weight: bold;
  font-size: 55px;
  line-height: 1;
  color: #A3DE00;
}
.direction-content-text {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #FFFFFF;
  margin: 0;
}
.biatlon, .sky {
  margin-bottom: 200px;
}
.sky .direction-content {
  padding: 30px;
}
.sky .direction-content-title {
  left: 0;
  height: 100px;
}
.sky .direction-content-title span {
  position: absolute;
  top: 0;
  left: 0;
  width: 510px;
}
.beg .direction-content-title {
  left: 0;
}
.sale {
  padding-top: 140px;
}
.sale-wrapper {
  max-width: 935px;
  width: 100%;
}
.sale-plash {
  background: #303030;
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sale-img {
  width: 52.7%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sale-content {
  width: 47.3%;
  padding: 35px 30px 30px 33px;
}
.sale-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sale-green {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: #A3DE00;
}
.sale-title {
  font-weight: bold;
  font-size: 51px;
  line-height: 1;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}
.sale-content-block {
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: block;
}
.sale-content-block br {
  display: none;
}
.sale-border {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  color: #2525FF;
  text-shadow: 1px 0 0 #A3DE00, -1px 0 0 #A3DE00, 0 1px 0 #A3DE00, 0 -1px 0 #A3DE00, 1px 1px #A3DE00, -1px -1px 0 #A3DE00, 1px -1px 0 #A3DE00, -1px 1px 0 #A3DE00;
}
.sale-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale-form-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 104.5%;
  text-align: right;
  color: #FFFFFF;
  max-width: 100px;
}
.sale-form-inputs {
  width: 100%;
  max-width: 205px;
}
.sale-input {
  display: block;
  width: 100%;
  height: 36px;  
  border: 2px solid #A3DE00;
  text-align: center;
  background: transparent;
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
  font-family: "Gotham Pro", sans-serif;
  margin-bottom: 15px;
}
input::-moz-placeholder { color: #fff; opacity: 1; }
input::-webkit-input-placeholder { color: #fff; opacity: 1; }
input:-ms-input-placeholder { color: #fff; opacity: 1; }
input::-ms-input-placeholder { color: #fff; opacity: 1; }
input::placeholder { color: #fff; opacity: 1; } 
.sale-submit {
  display: block;
  font-family: "Gotham Pro", sans-serif;
  width: 100%;
  height: 36px;
  background: #A3DE00;
  border: 1px solid #A3DE00;
  font-weight: bold;
  font-size: 13px;
  color: #0000FB;
  cursor: pointer;
}
.sale-submit:hover {
  background: transparent;
  color: #A3DE00;
}
.map {
  padding-top: 190px;
}
.map-block {
  width: 48%;
}
.map-block img {
  display: block;
  width: 100%;
  height: auto;
}
.map-content {
  width: 42%;
  border-top: 3px solid #0000FB;
  border-bottom: 3px solid #0000FB;
  padding: 25px 0 0;
}
.map-address {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 25px;
  line-height: 109.5%;
  color: #ffffff;
}
.map-address strong {
  color: #A3DE00;
  display: block;
  font-weight: 400;
}
.footer {
  padding: 180px 0;
}
.footer-wrapper {
  max-width: 700px;
}
.footer-title {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 53px;
  line-height: 113.5%;
  color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 50px;
}
.footer-title::after {
  position: absolute;
  left: 360px;
  top: 24px;
  content: '';
  height: 7px;
  width: 50%;
  background: #0000FB;
}
.copyright {
  font-weight: normal;
  font-size: 38px;
  line-height: 113.5%;
  display: block;
  text-align: center;
  color: #2525FF;
}
.footer-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.footer-link {
  display: inline-block;
  font-weight: normal;
  font-size: 44px;
  line-height: 113.5%;
  color: #A3DE00;
}
.footer-link:hover {
  color: #ffffff;
}
.footer-socials {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-socials__link {
  display: block;
  width: 90px;
  height: 90px;
  margin-left: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer-socials__link--whatsapp {
  background-image: url(../images/whatsapp-green.png);
}
.footer-socials__link--instagram {
  background-image: url(../images/instagram-green.png);
}
.footer-socials__link--whatsapp:hover {
  background-image: url(../images/whatsapp.png);
}
.footer-socials__link--instagram:hover {
  background-image: url(../images/instagram.png);
}
.quest {
  padding-top: 125px;
}
.quest-plash {
  background: #303030;
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
  padding: 60px 50px 65px 35px;
}
.quest-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.quest-block {
  width: 50%;
}
.quest-block--right {
  padding-left: 35px;
}
.quest-title {
  display: block;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 31px;
  line-height: 1.2;
  color: #FFFFFF;
}
.quest-title span {
  color: #A3DE00;
}
.quest-title-mobile {
  display: none;
}
.quest-input {
  display: block;
  width: 100%;
  max-width: 365px;
  height: 65px;
  border: 3px solid #0000FB;
  background: transparent;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  font-family: "Gotham Pro", sans-serif;
}
.quest-input:active,
.quest-input:focus {
  border-color: #A3DE00;
}
textarea::-moz-placeholder { color: #A3DE00; opacity: 1; }
textarea::-webkit-input-placeholder { color: #A3DE00; opacity: 1; }
textarea:-ms-input-placeholder { color: #A3DE00; opacity: 1; }
textarea::-ms-input-placeholder { color: #A3DE00; opacity: 1; }
textarea::placeholder { color: #A3DE00; opacity: 1; } 
.textarea {
  resize: none;
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  padding: 10px;
}
.quest-submit {
  width: 100%;
  max-width: 365px;
  height: 65px;
  background: #0000FB;
  border: 1px solid #0000FB;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Gotham Pro", sans-serif;
}
.quest-submit:hover {
  background: transparent;
}
.textarea1 {
  height: 95px;
}
.textarea2 {
  height: 116px;
}
.textarea3 {
  height: 76px;
}
.textarea4 {
  height: 119px;
}
.fast-title-mobile,
.trener-img .trener-img-mobile {
  display: none;
}

.popup {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.popup--show {
  opacity: 1;
  visibility: visible;
}
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.8;
}
.popup-content {
  position: relative;
  max-height: 95vh;
  overflow: hidden;
  overflow-y: auto;
}
.popup-close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: #A3DE00;
}
.popup-close::before {
  position: absolute;
  content: '';
  width: 21px;
  left: 1px;
  top: 10px;
  height: 3px;
  background: #0000FB;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}
.popup-close::after {
  position: absolute;
  content: '';
  height: 21px;
  width: 3px;
  left: 10px;
  top: 1px;
  background: #0000FB;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}
.popup-close:hover {
  background-color: transparent;
}
.popup-close:hover::before,
.popup-close:hover::after {
  background-color: #A3DE00;
}
.popup-block {
  text-align: center;
  display: none;
  background: -o-linear-gradient(262.66deg, #0000FB 3.85%, #131291 96.83%);
  background: linear-gradient(187.34deg, #0000FB 3.85%, #131291 96.83%);
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.91);
  width: 685px;
  padding: 55px 45px 40px 35px;
  overflow: hidden;
}
.popup-block-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.popup-block-left,
.popup-block-right {
  width: 50%;
  padding-left: 15px;
}
.popup-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-block--call__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
  display: block;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.popup-block--call__text {
  display: block;
  font-weight: normal;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.popup-block--call__text a {
  display: block;
  padding: 10px 0 15px;
  font-weight: bold;
  font-size: 24px;
  color: #A3DE00;
}
.popup-block--call__text a:hover {
  color: #ffffff;
}
.popup-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-socials a {
  width: 55px;
  height: 50px;
  margin: 0 8px;
}
.popup-call__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 44px;
  background: transparent;
  text-align: center;
  border: 3px solid #A3DE00;
  font-family: "Gotham Pro", sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #FFFFFF;
}
.popup-call__input:active,
.popup-call__input:focus {
  border-color: #fff;
}
.popup-call__textarea {
  height: 64px;
  resize: none;
  padding-top: 15px;
}
textarea.popup-call__textarea::-moz-placeholder { color: #fff; opacity: 1; }
textarea.popup-call__textarea::-webkit-input-placeholder { color: #fff; opacity: 1; }
textarea.popup-call__textarea:-ms-input-placeholder { color: #fff; opacity: 1; }
textarea.popup-call__textarea::-ms-input-placeholder { color: #fff; opacity: 1; }
textarea.popup-call__textarea::placeholder { color: #fff; opacity: 1; } 
.popup-call__check {
  border: 3px solid #A3DE00;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; 
  padding: 0 15px;
  text-align: left;
  cursor: pointer;
}
.popup-call__check input {
  display: none;
}
.popup-call__check_custom {
  display: block;
  margin-right: 15px;
  border: 2px solid #FFFFFF;
  width: 30px;
  height: 30px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
}
.popup-call__check input:checked ~ .popup-call__check_custom::before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: '';
  width: 20px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.popup-call__check_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.popup-call__submit {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 19px;
  color: #131291;
  background: #A3DE00;
  border: 3px solid #A3DE00;
  font-family: "Gotham Pro", sans-serif;
  cursor: pointer;
}
.popup-call__submit:hover {
  background: transparent;
  color: #fff;
}
.popup-block-banner__title {
  display: block;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 67px;
  line-height: 99%;
  text-align: center;
  color: #FFFFFF;
}
.popup-block-banner__text {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  display: block;
  color: #A3DE00;
}
.popup-block-banner__text span {
  color: #ffffff;
}
.popup-timer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 22px;
}
.popup-timer_title {
  font-weight: normal;
  font-size: 19px;
  line-height: 99%;
  color: #FFFFFF;
  text-align: left;
}
.countdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 36px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: #131291;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #A3DE00;
}
.popup-block-banner .popup-call__input {
  margin-bottom: 22px;
}
.popup-call .popup-block--call__title {
  display: none;
}











@media screen and (max-width: 1170px) {
  .trener-border-desktop,
  .trener-top-desktop {
    display: none;
  }
  .trener-top-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 120px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 90px;
    margin-bottom: 40px;
  }
  .trener-top-mobile .trener-top {
    margin: 0;
    padding: 10px 10px 10px 0;
    border-left: none;
    border-right: 5px solid #0000FB;
    text-align: right;
  }
  .trener-top-mobile .trener-border {
    font-size: 40px;
    right: 60px;
    top: -20px;
  }
  .direction-content-text {
    font-size: 24px;
  }
  .biatlon, .sky {
    margin-bottom: 100px;
  }
  .banner-title {
    width: 500px;
    height: auto;
  }
  .fast-content-img {
    display: none;
  }
  .fast-content-text {
    max-width: 100%;
  }
  .fast-title-mobile {
    display: block;
  }
  .fast-title-desktop {
    display: none;
  }
  .fast__content {
    padding: 0;
    width: 65%;
    position: relative;
    z-index: 2;
  }
  .fast__wrapper {
    position: relative;
  }
  .fast {
    overflow: hidden;
  }
  .fast__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fast__img img {
    display: block;
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 980px) {
  .trener-cub__item span {
    font-size: 16px;
    text-align: right;
  }
  .trener-img {
    width: 40%;
    margin: 0;
  }
  .trener-plash {
    padding-left: 40%;
  }
  .trener-name {
    font-size: 30px;
  }
  .trener-content {
    padding: 30px;
  }
  .trener-cub__item_img {
    width: 60px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 0 0 15px;
  }
  .direction-img {
    width: 66%;
  }
  .direction-content {
    width: 34%;
    padding: 25px;
  }
  .direction-content-title {
    font-size: 32px;
    margin-bottom: 15px;
    left: -40px;
  }
  .direction-content-text {
    font-size: 20px;
  }
  .sky .direction-content-title {
    height: 70px;
  }
  .beg .direction-content-title {
    left: -40px;
  }
  .quest-title-mobile {
    display: block;
  }
  .quest-title-desktop {
    display: none;
  }
  .quest-form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .quest-title {
    text-align: center;
  }
  .quest-title br {
    display: none;
  }
  .quest-block--left {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .quest-block--right {
    padding: 0;
  }
  .quest-input,
  .quest-submit {
    max-width: 100%;
  }
  .quest-block {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
  .socials {
    display: none;
  }
  .banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }
  .banner-img {
    min-width: 980px;
  }
  .banner-subtitle {
    position: absolute;
    bottom: 33px;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .banner__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  .banner__btn {
    max-width: 300px;
  }
  .sale-plash {
    max-width: 480px;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .sale-img {
    position: static;
    width: 100%;
    height: auto;
  }
  .sale-content {
    width: 100%;
    text-align: center;
  }
  .sale-form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .sale-form-date {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
}

@media screen and (max-width: 768px) {
  .trener {
    padding: 0;
  }
  .trener-img .trener-img-mobile {
    display: block;
  }
  .trener-img .trener-img-desktop {
    display: none;
  }
  .trener-name {
    font-size: 18px;
  }
  .trener-img {
    position: static;
  }
  .trener-plash {
    padding: 0;
  }
  .trener-content {
    padding: 10px;
  }
  .trener-cub__item {
    margin-bottom: 10px;
  }
  .trener-cub__item_img {
    width: 60px;
    margin-left: 10px;
  }
  .trener-cub__item span {
    font-size: 14px;
  }
  .trener-sub {
    font-size: 10px;
  }
  .trener-top-mobile .trener-border {
    font-size: 30px;
    top: 0;
    right: 40px;
  }
  .trener-top-mobile {
    margin-bottom: 15px;
    padding-right: 50px;
  }
  .biatlon, .sky {
    margin-bottom: 30px;
  }
  .sky .direction-content-title {
    height: 38px;
  }
  .direction-content-title,
  .beg .direction-content-title {
    left: -20px;
  }
  .direction-content,
  .sky .direction-content {
    padding: 10px;
  }
  .direction-content-title {
    font-size: 18px;
  }
  .direction-content-text {
    font-size: 14px;
  }
  .sale {
    padding-top: 10px;
  }
  .map {
    padding-top: 60px;
  }
  .map-content {
    width: 50%;
    padding: 15px 0 0;
  }
  .map-address {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .quest-plash {
    padding: 22px;
    max-width: 500px;
    margin: 0 auto;
  }
  .quest-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .quest-input,
  .quest-submit {
    font-size: 12px;
    height: 34px;
    border-width: 2px;
    margin-bottom: 15px;
  }
  .textarea {
    font-size: 10px;
    padding: 7px;
    height: 50px;
  }
  .quest {
    padding-top: 55px;
  }
  .quest-block {
    max-width: 380px;
  }
  .content {
    padding-top: 52px;
  }
  .header__wrapper {
    height: 52px;
  }
  .logo img {
    display: block;
    width: 126px;
    height: auto;
  }
  .phone {
    font-size: 14px;
    margin-right: 15px;
  }
  .butter {
    width: 21px;
    height: 21px;
  }
  .butter i, .butter::before, .butter::after {
    width: 11px;
    height: 3px;
    left: 5px;
  }
  .butter i {
    top: 4px;
  }
  .butter::before {
    top: 9px;
  }
  .butter::after {
    top: 14px;
  }
  .menu__list {
    width: 150px;
    top: 25px;
  }
  .menu__item a {
    font-size: 13px;
    display: block;
    line-height: 1;
  }
  .menu__item {
    border-bottom-width: 1px;
  }
  .menu-close {
    width: 14px;
    height: 14px;
  }
  .menu-close::before {
    width: 12px;
    top: 6px;
    left: 1px;
  }
  .menu-close::after {
    height: 12px;
    left: 6px;
    top: 1px;
  }
  .banner__btn {
    margin: 0 auto;
    padding: 10px;
    font-size: 17px;
    max-width: 200px;
  }
  .banner-subtitle {
    font-size: 10px;
    letter-spacing: 1.1em;
  }
  .banner-subtitle::before, .banner-subtitle::after {
    width: 40px;
    top: -3px;
  }
  .banner__wrapper {
    padding: 20px 0 70px;
  }
  .banner-title {
    width: 400px;
    margin: 0 auto;
  }
  .fast {
    padding-bottom: 65px;
  }
  .fast-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .fast-content-text strong {
    font-size: 12px;
    text-indent: 30px
  }
  .fast-content-text p {
    font-size: 12px;
    text-indent: 30px;
  }
  .footer {
    padding: 60px 0;
  }
  .footer-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .copyright {
    font-size: 12px;
  }
  .footer-title::after {
    display: none;
  }
  .footer-contacts {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-socials {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
  .footer-link {
    font-size: 18px;
  }
  .footer-socials__link {
    margin: 0 6px;
    width: 37px;
    height: 34px;
  }
  .popup-block-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .popup-block-left,
  .popup-block-right {
    width: 100%;
    padding: 0;
  }
  .popup-block {
    width: 235px;
    padding: 33px 22px 26px;
  }
  .popup-block-banner__title {
    font-size: 43px;
    margin-bottom: 30px;
  }
  .popup-close {
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
  }
  .popup-close::before {
    width: 16px;
    height: 2px;
    top: 7px;
    left: 0;
  }
  .popup-close::after {
    width: 2px;
    height: 16px;
    top: 0;
    left: 7px;
  }
  .popup-block-banner__text {
    font-size: 18px;
  }
  .popup-timer {
    margin: 0;
    padding: 25px 0;
  }
  .popup-timer_title {
    font-size: 12px;
  }
  .countdown {
    width: 74px;
    height: 23px; 
    font-size: 12px;
  }
  .popup-call__input {
    height: 34px;
    margin-bottom: 6px;
    font-size: 14px;
  }
  .popup-block-banner .popup-call__input {
    margin-bottom: 15px;
  }
  .popup-call__submit {
    height: 34px;
    font-size: 14px;
  }
  .popup-block--call__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .popup-block-right--call {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .popup-call .popup-block--call__title {
    display: block;
  }
  .popup-call__textarea {
    height: 44px;
    padding: 7px;
  }
  .popup-call__check {
    height: 44px;
    margin-bottom: 6px;
    padding: 0 10px;
  }
  .popup-call__check_custom {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .popup-call__check_text {
    font-size: 11px;
  }
  .popup-call__check input:checked ~ .popup-call__check_custom::before {
    top: 2px;
    left: 1px;
    width: 15px;
    height: 7px;
  }
  .popup-call {
    margin-bottom: 15px;
  }
  .popup-block--call__title {
    display: none;
  }
  .popup-block--call__text {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .popup-block--call__text a {
    padding: 5px 0;
    font-size: 14px;
  }
  .popup-socials a {
    width: 37px;
    height: 33px;
  }

}

@media screen and (max-width: 500px) {
  .sale-plash,
  .quest-plash {
    max-width: 240px;
  }
  .trener-cub__item_img {
    width: 30px;
  }
  .trener-cub__item span {
    font-size: 9px;
  }
  .banner-img {
    display: none;
  }
  .trener-content {
    padding-bottom: 0;
  }
  .banner-img-mobile {
    display: block;
    width: 100%;
    height: auto !important;
    min-height: auto !important;
  }
  .banner-title {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .fast__img {
    width: 43%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fast-content-text strong {
    font-size: 9px;
    margin-bottom: 5px;
    text-align: left;
    text-indent: 15px;
  }
  .fast-content-text p {
    font-size: 8px;
    margin-bottom: 5px;
    text-indent: 15px;
    padding-bottom: 5px;
  }
  .fast__img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .fast__content {
    width: 57%;
  }
  .map-flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map-block {
    width: 100%;
    margin-bottom: 25px;
  }
  .map-content {
    width: 190px;
    text-align: center;
  }
  .sale-img img {
    width: 100%;
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
  .sale-content {
    padding: 22px;
  }
  .sale-green {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .sale-title {
    font-size: 45px;
    margin-bottom: 30px;
  }
  .sale-form-date {
    font-size: 12px;
  }
  .sale-content-block br {
    display: block;
    font-size: 5px;
  }
  .sale-content-block {
    width: 205px;
    margin: 0 auto 40px;
    text-align: left;
    position: relative;
  }
  .sale-border {
    position: absolute;
  }
  .sale-border1 {
    top: -26px;
    left: 0;
  }
  .sale-border2 {
    bottom: -22px;
    right: 0;
  }
  .sale-border-mobile {
    display: inline-block;
    width: 25px;
  }
  .direction-content-text {
    font-size: 8px;
  }
  .direction-img {
    width: 60%;
  }
  .direction-content {
    width: 40%;
  }


}


